<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	{{message}}
	<form method="post">
		网页根目录路径<input type="text" required>
		<br><br>
		站点名<input type="text" required>
		<br><br>
		日志目录路径<input type="text">
		<br><br>
		站点别名<input type="text">
		<br><br>
		<input type="submit" value="提交">
	</form>
</body>
</html>