<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	{{message}}

	<form method="post">
		IP地址:<input type="text" name="ip">
		<br><br>
		管理员用户名:<input type="text" name="id">
		<br><br>
		密 码 :<input type="password" name="passwd">
		<br><br>
		<input type="submit" value="提交">
	</form>

</body>
</html>