<div class="container">

  <h3 class="text-center">sign in</h3>

  <div class="row">
    <div class="col-md-10 col-md-offset-2">
      <form name="myForm" class="form-horizontal">

        <!--  userName Validation -->
        <div class="form-group has-feedback" ng-class="{'has-error':myForm.userName.$invalid && myForm.userName.$dirty , 'has-success':myForm.userName.$valid}">
          <label  class="col-sm-2 control-label">UserName</label>
          <div class="col-sm-6">
            <input type="text" name="userName" class="form-control" ng-pattern="/^[a-zA-Z]{1}/" ng-minlength="4" ng-maxlength="15" ng-model="register.user" required>
            <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok':myForm.userName.$valid}"></span>
          </div>
          <!-- 错误显示 -->
          <div class="col-sm-4">
            <label ng-show="myForm.userName.$dirty && myForm.userName.$error.minlength && !(myForm.userName.$error.pattern)" class="text-danger control-label">
              too short!
            </label>
            <label ng-show="myForm.userName.$dirty && myForm.userName.$error.maxlength" class="ext-danger control-label">
              too long!
            </label>
            <label ng-show="myForm.userName.$dirty && myForm.userName.$error.pattern" class="ext-danger control-label">
              字母开头
            </label>
            <label ng-show="myForm.userName.$error.required && myForm.userName.$dirty " class="ext-danger control-label">
              required
            </label>
          </div>
        </div>

        <!--  passWord Validation -->
        <div class="form-group has-feedback" ng-class="{'has-error':myForm.Password.$invalid && myForm.Password.$dirty , 'has-success':myForm.Password.$valid}">
          <label  class="col-sm-2 control-label">Password</label>
          <div class="col-sm-6">
            <input type="password" name="Password" class="form-control" ng-minlength="4" ng-maxlength="15" ng-model="register.password" required>
            <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok':myForm.Password.$valid}"></span>
          </div>
          <!-- 错误显示 -->
          <div class="col-sm-4">
            <label ng-show="myForm.Password.$dirty && myForm.Password.$error.minlength" class="text-danger control-label">
              too short!
            </label>
            <label ng-show="myForm.Password.$dirty && myForm.Password.$error.maxlength" class="ext-danger control-label">
              too long!
            </label>
            <label ng-show="myForm.Password.$error.required && myForm.Password.$dirty " class="ext-danger control-label">
              required
            </label>
          </div>
        </div>

        <!-- password confirm -->
        <div class="form-group has-feedback" ng-class="{'has-error':myForm.passwordConfirm.$invalid && myForm.passwordConfirm.$dirty , 'has-success':myForm.passwordConfirm.$valid && register.passwordConfirm == register.password}">
          <label  class="col-sm-2 control-label">PasswordConfirm</label>
          <div class="col-sm-6">
            <input type="password" name="passwordConfirm" class="form-control" ng-model="register.passwordConfirm" required >
            <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok':myForm.passwordConfirm.$valid  && register.passwordConfirm == register.password}"></span>
          </div>
          <!-- 错误显示 -->
          <div class="col-sm-4">
            <label ng-show="(register.passwordConfirm != register.password) && myForm.passwordConfirm.$dirty && !myForm.passwordConfirm.$error.required" class="text-danger control-label">
              密码不一致
            </label>
            <label ng-show="myForm.passwordConfirm.$error.required && myForm.passwordConfirm.$dirty " class="ext-danger control-label">
              required
            </label>
          </div>
        </div>

        <!-- Email Validation -->
        <div class="form-group has-feedback" ng-class="{'has-error':myForm.Email.$invalid && myForm.Email.$dirty , 'has-success':myForm.Email.$valid}">
          <label  class="col-sm-2 control-label">Email</label>
          <div class="col-sm-6">
            <input type="Email" name="Email" class="form-control" ng-model="register.Email" required>
            <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok':myForm.Email.$valid}"></span>
          </div>
          <!-- 错误显示 -->
          <div class="col-sm-4">
            <label ng-show="myForm.Email.$dirty && myForm.Email.$error.email" class="ext-danger control-label">
              格式不正确
            </label>
            <label ng-show="myForm.Email.$error.required && myForm.Email.$dirty " class="ext-danger control-label">
              required
            </label>
          </div>
        </div>

        <!-- submit -->
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default" ng-disabled="myForm.$invalid">register</button>
            <button type="reset" class="btn btn-default" ng-click="reset()">reset</button>
          </div>
        </div>
        
      </form>
    </div>
  </div>
</div>